html, body, #root {
  height: 100%;
  margin: 0;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full height of viewport */
}

.mainContent {
  flex: 1; /* expands to push footer down */
}
